<div class="container-fluid content">
  <div class="row">
    <nav class="col-12">
      <ol class="breadcrumb light-background mat-elevation-z1">
        <li class="breadcrumb-item clickable" routerLink="/">Inicio</li>
        <li class="breadcrumb-item active">Ajustes precio de viaje</li>
      </ol>
    </nav>
  </div>
  <div class="row mx-2 mb-2 justify-content-between align-items-center">
    <h1> Ajustes Precio de Viaje </h1>
  </div>
  <mat-divider></mat-divider>
  <div class="row mx-3 mt-4" *ngIf="tripCosts">
    <div class="col-md-12 card p-3 mat-elevation-z2">
      <form class="container content" [formGroup]="costsForm" (ngSubmit)="onSubmit()">
        <br>
        <div class="row">
          <mat-form-field class="col-md-4" appearance="outline" *ngFor="let key of objectKeys(costsFormData)">
            <mat-label>{{costsFormData[key].displayName}}</mat-label>
            <input matInput 
              [formControlName]="key"
              [placeholder]="key"
              type="number" 
              step="1" 
              min="0" 
              required
            >
            <mat-error *ngIf="costsFormData[key].control.invalid">{{getErrorMsg(costsFormData[key].control)}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row justify-content-end">
          <button 
            type="submit" 
            [disabled]="!costsForm.valid" 
            mat-raised-button color="primary"
          >
          Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
