<div class="container-fluid content">
  <div class="row">
    <nav class="col-12">
      <ol class="breadcrumb light-background mat-elevation-z1">
        <li class="breadcrumb-item clickable" routerLink="/">Home</li>
        <li class="breadcrumb-item clickable" routerLink="/trips">Listado de viajes</li>
        <li class="breadcrumb-item active">Detalles</li>
      </ol>
    </nav>
  </div>
  <div class="row mx-2 mb-2 justify-content-between align-items-center">
    <h1> Detalles de Viaje </h1>
  </div>
  <mat-divider></mat-divider>
  <div class="row mx-3 mt-4" *ngIf="!isLoading">
    <div class="col-lg-7">
      <div class="card mb-4 mat-elevation-z2">
        <h5 class="card-header light-background">Información General</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="pull-left"> Fecha: </div>
            <div class="pull-right"> {{(trip.reservationDate || trip.createdAt) | date:'dd/MM/yyyy'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left">Origen:</div>
            <div class="pull-right"> {{trip.origin.address || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Destino: </div>
            <div class="pull-right"> {{trip.destination.address || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Estado: </div>
            <div class="pull-right"> {{trip.status || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Lleva acompañante: </div>
            <div class="pull-right"> {{trip.bringsEscort ? 'Sí' : 'No'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Mascotas: </div>
            <div class="pull-right">
              {{
                trip.petQuantities.small + ' pequeñas, ' +
                trip.petQuantities.medium + ' medianas y ' +
                trip.petQuantities.big + ' grandes.'
              }}
            </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Comentarios: </div>
            <div class="pull-right"> {{trip.comments || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Método de Pago: </div>
            <div class="pull-right"> {{paymentMethod || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Precio: </div>
            <div class="pull-right"> {{trip.cost || '-'}} </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="card mb-4 mat-elevation-z2">
        <h5 class="card-header light-background">Seguimiento</h5>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card mb-4 mat-elevation-z2">
        <h5 class="card-header light-background">Cliente</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="pull-left">Nombre:</div>
            <div class="pull-right"> {{clientData.name || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Email: </div>
            <div class="pull-right"> {{clientData.email || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Teléfono: </div>
            <div class="pull-right"> {{clientData.phone || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Dirección: </div>
            <div class="pull-right"> {{clientData.address || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Calificación del chofer: </div>
            <div class="pull-right"> {{trip.clientRating.rating != 0 ? trip.clientRating.rating : '-'}} </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="card mb-4 mat-elevation-z2">
        <h5 class="card-header light-background">Chofer</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="pull-left">Nombre:</div>
            <div class="pull-right"> {{driverData.name || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Email: </div>
            <div class="pull-right"> {{driverData.email || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Teléfono: </div>
            <div class="pull-right"> {{driverData.phone || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Dirección: </div>
            <div class="pull-right"> {{driverData.address || '-'}} </div>
            <div class="clearfix"></div>
          </li>
          <li class="list-group-item">
            <div class="pull-left"> Calificación del cliente: </div>
            <div class="pull-right"> {{trip.driverRating.rating != 0 ? trip.driverRating.rating : '-'}} </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
