<h1 mat-dialog-title> Fotos del chofer de id {{ driverId }}</h1>
<div mat-dialog-content>
  <!--
  <div>
  <p>Fotito Trucha de Licencia</p>
  <img
    *ngIf="showingWhich == 1"
    src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhM
  VFRUXGBcVFhgXGBcWFRcYFRUXFxUYGBUYHiggGBolHRUVITEhJikrLi4uFx8zOD
  MtNygtLisBCgoKDg0OGxAQGy0jHyUtLS0tLS8wLS0tLS0tLS8tKy0vLS0tLS0t
  LS0tLSstLS0tLS01LS0tLS0rLS0tLS0tLf/AABEIAMIBAwMBIgACEQEDEQH/xAAcAA
  ABBAMBAAAAAAAAAAAAAAAABAUGBwECAwj/xABIEAABAwIDBAcEBgcHAgcAAAABAAIDB
  BEFEiEGMUFRBxNhcYGRoSIyQrEUUmJyksEjM0OCorLRCGNzwuHw8SSDFRY0VJOz0v/EABoBAAID
  AQEAAAAAAAAAAAAAAAAEAQMFAgb/xAAxEQACAgIBAwMCBQIHAQAAAAAAAQIDBBEhBRIxE0FRImEGM
  kJxkRahIyQzUoGx0RT/2gAMAwEAAhEDEQA/ALxQhCABCEIAEIQgAQhCABCFhAAVq99tStZ5Q0EuNgN5UQ
  x3Ho/2sjY494a42c63Et3nuCTysyNC+X7ItqqdjHKvxsm7Yfxn/KOPefVNsdJc5nEkneTqfVR2fbWnbpGySTtsG
  t83a+iRP2+k+CBg+88u+TQvL5Ly8p7lwvg066uxfQidR0yUMgVcRdKLopGiphb1Z950d8ze3KSc3dcKx8Mr454mzRO
  zMeLtNiPQ6g3usvJw7qIqU1w/cqnZLemdRCs9WuqwktlbkxDPUAGwF0xVW1kDTbrWH7oL/Vt1024o5nUswgaXuI
  Hst94tzDOAOPs30VQnFY2nK72SNCCCCO8FbODhRuh3+fsM1dj8ssiXbeIbusPcwfmQk79uW/Ul/Cz/APSgTcVjO5w81
  v8AT2cwn1gVr9Jf21/JOYtvqcECZsjASBnLRlbfi6xJAHMKWT0YO8KhMdqAWZRqToLeiszoyExfIC5xjDBcEkjPf2bX3Gwcq
  szBhXV6keGLzs7J6XgdcRwVrhuTTQ1lXQH9A7NHvML7lh55TvYe0adhU/lp011tAHX0SGL1CdT4Z2+y1aY77M7VQ1jfYu2Rv
  vxO99vb9pv2hp3HRPwVM4zgrmOEsTnRyNOZr26OaeYP9d6mWxG2gqP+nqAI6lo7mzAD3mcnaat8Rpu9jhZ0Mhfczr8d1v7E1
  QsArK0BYEIQgAQhCABCEIAEIXKeYNFzfwF/RAHVCaKLaGCSTqg4tk1sx4LS62/LfR1uwp3CABCEIAFzkfYEncFvdMeM1OY9UN29
  35D8/JK5eTHHrc5HdcHOWhLXVJmdxyD3Rz+0VVe37i2tdm3dXGW33W1BA/eDvNWrFGmfarZGCua0SF7HtuGPYRmAda4IOjhoNF4+jPU
  shzufD/saSfprSKZmxRjd5C1opaipOWlp5JTza05R3u3DxVtYF0b4fTgF0XXv4vm9vXsZ7o8lL48rQGtAAG4AAAeATdvVceviuLk/vwjl3
  WS+xT2H9FtZPY1ckcLd+Vv6R/cQCG/xK2cDwxlNAyCO+VgsCd5uSST2kklLAVssfL6jbkLtlwvhFOudsyhCwkCQsuU9Kx/vsa77zQfmF1J
  WjpF3Gco+GGtjbNs1Rv8AepYD/wBto+QSGbYXD3b6WPwuPkU9unWv0lXRyr14k/5OuxkXk6MsPzB4je0gg2D3FunY66k+GYdHAzq4m5W3vv
  JuTvJJ1J/ouzJwV1BRblXWrVkmzlrRkhcpIgV1QlgT0M9bRAjcoHtNgh99l2vaQ5rho5rmm7XA8CCL37FaL2XTPidGHA6J3EypVTTTGoTU12sx
  0fbXirYYZrNqoh7Y3CRu4SsHIneOB7CFMQVQ+NQS0s7KqDSSI5hycPiY77LhcHvVxbM47HW07KiL3XDVp3scNHMd2g3+a99h5KvrUvczbqvTkO
  6EITZSCEIQBznkyi9iewJlbtPGJWxStMTnHKwusWFx3NzDcTwunWara24J15eCqXb+ua92QHiud8klwh2i5VEwa0lx4KDbdbWS0mFwVjLdY51Pc
  G1n5hmkb4gO14Jt2jxqofA2eBvWxSsEjHNc24a4Xs5hIII7L8UMgZtr8THXB0Rs+Nwe0jeHN1b6q6m7gqP6PMH+lVJknNmQ2lcDb2jc2BO4NFrnn
  a3NSvGek1rqllFhkbayocdXZrQRgakl4963G2naTopQFi3WVF6jFaunAdPFHM3iYMzXN7g8nN5tT3hmJxzsEkTg5p8weLXDe1w5FGwNq+oyMLuPA
  cydwTDEw7zqTqT2lK8WnzPDODdT3nd6fNJwV43reU7LfTXhD+PDtjv5Ow0WHSgJPPM1gLnuDWjeXEADvJUTxLpCw6M2NS13+GHSerRb1WRTh3W/k
  i2W/SvLJW+oK2ZdQWn6UsNvq+VvfE78rqS4Vtjh09hHVxFx3Nc7I7yfZXWdOyYLbrf8A7q/Yeg4rrHNzWSwEXHHceCSSgtKRcXvTBamON1rI8AJrZ
  iodcN1toT28guFfXMjaZJpGxsbvc91mjxPFdQonJ6S5I9JrmXgdus5laOqGc/Qqpto+lmNt2UUec7utku1ne1nvOHfbxVc41tTVVJPXzyOB+AHJH3
  ZG6HxW7jfh62zmx9q/uUTugvHJ6NqNoKNhs+phYeIc8NPquceN0j/ANXUwO7pWH815hFO7hGfI/mtXQOG9h8lpf05Ul+ZnCymj1OJeIN+0a+qU09V
  zXlKlq3xm8b3sP2HOb8k9Qba4g0WFXKR2kOPmdfVL2/hx/pn/KLf/qjJaaPUTXXWy80xdIteP2ubvz/k5ay9IleR+saP3b/MlLf05d/uRX6sT0sXD
  iUkrKqID2pGDvcAvMVRtjXP31Dh90Nb8hdNNTWyyGz5JHnk5znehKvr/DT8yn/CI9ZJ8F8bUYxRWINTDflmBPkFH+jnbinoquSN8wFNN7RdY5Y5W
  jR27c4DKe5qq9uBVJAP0eUB24lpaDbkXWvvCJMCnGpaB+8L+i2sTDqxfE9hbdKxaaPXeEY9TVIvTzxTAb+re1xHeBqPFOQK8XUNXNTStlie+KRpu
  HNNjv8AUabtx3L1N0a7WDEaJszgBK0mKYC4AkaAbgH4XAtI7yOC0RYliEIQAwbQYX1pFpDGbb+7Q/MKutpNlYocz3Tvkd3NDVaOP0xdFdpsW637
  Nx/r4KDYxs1UTN9qWNo7Lvd+QHquHwySrdvsQkfQUcJcSyOaoFr/AGIXR+WeUeK0wLF5RSClIJaDdhvuBNy3uvr4ld9tdnXBoaHFxZct4A3tmFr
  7zYa9i47M3a03aCMpBuPdvuIvuNwugGbaHFZxnp2Oc2MhrpWg2z2vlDre80ZjpuuewK1ujl9DhsNI4262sazrZCfdMgzRsH1WgkDtJ1vpat
  6qgJqOs4EAeWikGy2xba+rZC6ST6PGzPKy/ugghrWu+EF24cmnkgC/Z6yPIS5zSFVp2phpq8TB7YoXEMmOuUgkgEgby06g258LqUYrsCxzA2C
  pqIQABa/XAgAD9p7V+3Mqk6TNhp6RomEnWRDQgkZ233v0ABB4jh2qAJVtl0lwRRONJKyaokJDS32mRg/E64sSBoB/RV1hHSHX07ZWiXrDIQ7
  NLeQsOuYsueOmh003KIhy2Y0kgDilqsGmCa1vb29ncrZPkXYpi9RVOzTyyTO3jMSQPut3N8AtIqKQ8QzvNvQXSuCINFh58St7p+FaitFLexH
  Jh7vrtd4u/MJPJSuG9t+7VOt0BdOCDbOGD7R1dL/6eoljH1Q67PwG7T5KZ03S9VlhZPHHJfTO28b7cebSfAKF1VKHAkaO+femxJ34dNn54plkZ
  tcosQ9Jro2EU8PtH4pDo3ua33vMKF4vjM9S/PUSukPC59lvY1o0aO5NzXJRRxZnC+4aqKcSqp/QtM6nbOflnWloi7V2g9T/AETpAAz3AG9vxf
  i3rVZT8VoofJuXE7yUXWoWV0BpNTNfvGvMb/NM9RCWOLT4HmE+JBizdGntt5/8KuaWtkpjcSrE2U2IpHAGvllDj8EYAYB2v1cT3AeKg+DQZ6
  iFnORl+4G59AVa+UhY3UcidaUYPWxqmtS22SXCNiMFH6uKKQ/3j3PP4Xn8lKaWgpaZv6OKCED6rWR+oAVZLK87bG6x/VYy9VJeBdtTiX0i
  UuHuNGVvdxPifyURxGLRPkgXOHCXzAuGjBvd+Q5lM0yVaRYo+yIFiNMHU8p+KF7JG8yyU9XIO4O6k/vO5qZf2eMWLKyamJ9maPMB9uI8vuud5K
  LbTRGLOG8WFpvxBN/mGnvAXfodeW4vSW4mQHuML7r0uPPvrTELY6keqUIQrys1e2+hTBKzq8zOGtu7/dlIUyYjvN+Z9VzIlFV7Xe9u4qNGwUv2
  xjAuVDZEIDPWJ16J9p/o1ZWNdBLI2QsLpIxm6lsWdoLmcWnrOBvpoCmVwt2qxeg/CBkq6lw1lkZH2WibmJHeZB+EKQLFbirHAPYQ5jr2I3XG8dh
  3Ksuk6ofKC0j2S1zezVpsrC2gqRDGbAAb93+/9lUDtptlJLfQAG4Z283d2oUeWBXUYSqh98dxUn6N8OimNYyWSOMOpXsaXua0BznNLTqeBYFE4X
  2IPJTGX1NfANcbHhZWrCspkrMrKwgIAymmpbZ7u/56p2KZ533cT2riZKOLd6XYcfaPaEgB1XeJ9iCFWuGdMewsrnG8EXC3CYODYLKwEIA2Tdij/d
  Hj+SWyShouUzTy5iXH/hcWPglD3sPTZ6pruDGuce8jKP5vRWc0aWKjGxeFmGHM4WfJZx5ho91vzPipKHLy3Ube+3j24NKiPbA4JbhFCZ5WxjS+8
  8gN5Tdm1Ux2Apf1kpHJg/md/lWfdPsg5HTekPMGzNMwfq8x5vJdfw3eiS4tE0MLWgAAaACwHcApDJuUexd+hWPXZOcuWWY629lNbaxak2voVaPR5
  0YxUU/00Tumuz9ACwNLGyN1LiCczsptoANT4VxtgL3V7bB1PWYdRv4mCK/eGAH1C93057qEslfUP6EIWgLAo9jcoa5wPIH/AH5KQqM7W4fNLlMGU
  lodmbuc4Otlsd1hZ2nb5wwK62ynFioeZfQJy2qpqkOtJDI0A6ktNvPcmrqzlUIk1gfdW30dYpHBQAEgEvkcfFxHyaFX2A7FV1U0PijayM7pJXZGk
  XsS0AFzvK3arAwboria21VPLMN+RhMMX8JzHzA7EaAZNu9tmyD6NDeR8mgDQXHXTQDeexQLpA2QkpKOnqJxlkkkLMl79WzJmAdbTOTe++waBzXor
  CNn6WmFqenii5ljGtcfvO3nxKrz+0VBfD4XD4aht/3o5ApS0B53utmrUNU52G2GlqJGS1EZZA0hxDxlMttzQ065TxPLde+nFt0KouU3pHUIOT0iK
  UtTbQ7vklzXXUz206Nnhzp6FmZh1dCPeb/h/Wb9neOF+FcEuaSDdpGhB0IPIg7lOPl13R7oPZFlTg9Mdboum4VDvrDyXOSYnefyTDmivQqq6ngPE
  pLBTuecrRc2utY4y42b/oE+0EQYLDxPNL229p3GOxjoaN8sjYmAl73BjR2k2Vj7a9HnVxMlo2l2RgbKwal2UaytHEnW48RxUm6PdhMh+nStyyOH
  6Nh0s1w1kI4OcDYdneplJCR2Lz+Z1nsuUa+UvI3VQpRezzHBOW7t3JLmVreOitTaro8hqCZIv0Mp1OUew4ni5otY9oVZY7srVUmssd2fXZ7TPE7
  x4gLZxeo1Xpdr5+GL2Uyj5Rz+lt5rR9cOAJTZnSijppJnZGAuPoBzJ4BOuzS5KlE0mmLt/gOCftlcBMjhNIPYGrWn4zwNvq/NOOEbKsYQ6ch5+q
  PcHff3lKWOA3BZOXncdsPPyNVU+8jtGsTSW04rXrD3JPPOxvvOAWMouTGn4Av1sN50A4q3MCoOogZHxAu77x1d6n0Vc7AiKoqS69xFZ1uBcSct+
  61++ytULN6jJ/k1+5XJnOpdZqiWLzaFSTEZLBQjGKjUpXFhuQ5jx1Bsgu1Tt6unoqdfCaT7jh5SPCo3aOS6vHopbbCaT7jj4OkeR6Fe36etQM7K/
  MS1CELRFQSSsog8e85jhuc02Iv6EdhStCAIdjWFYk4ZYZqeQf3ueM/wteD6KHydHmJyO/SSUTRxyulJHcOqF+PEK4UKNANezeEilp44A4uyDVx0u
  SSSQOAuTonRCFIAoL010XW4RUWFyzq5B2ZZG5v4S5TpN+P4eKimmgO6WKSP8bS0fMIApXomwmIUf0h0bHSPe6znNDi1rDlAaSPZ1DtyldRXZSSdwT
  bsELUEDQLEMsRxDsxzX5G97p1dgjpbh2gPI6rxedb3ZEu98bNyqKhUhFBt7SNdklJYRxIu3zSyup8LrxeQQSk/Fo2S3+ILO9Urj2SphE6MRN9r3i
  RmLu9x1VR7c7CvonddDmMV7uaCQWjjYjh8l3hxx7Z9tU3CXt9xW2T1trZItpuiaJwEmHvAI96J77h3IskduPCx07VEm9HFf/7SQ+LCPMOspxQbL
  088cM9JWVLI5Lj32yZXciHC4I1BF+CWP2VxCIjqcSuPtseO7c8/JbsVlVx7e5S/faYq1B86IlhvRfXv3xsiH949vyZmKsLZfo4p6YiSY9fILEX
  Fo2nhZnxHtPkm9+GY80fo6qmk7+sB9WEeqb3Q7Rl2UvhabXFzYG3LTXePNJ30Z1y0pRS+xK7UWwAtXxg7xdVg7CtpALiaA9gc4H1aE11GHbRuk
  EZkY0uBIPWsA9ki+43+IcFlr8P3N8zR13pFtvomdy4S4ey2rhbtsq8pOjXF5ATPijWHgGdZJ5k5beF1zd0TVTntbJiryDfcx/K+l5OxMQ6DKL/1
  SfXY545sTgpJfKWxnj1b+rH4G+z6KOVAwinGWGd9uQa03PadLntUipug+nGs1XNLz0DfW5SbHNg8PpY3uEebK0m77HcO5akcKSXbO2TK1NeUiEV
  G0kQNoQX8vZObyF1ykxWrd7kDgO2zf5irxZsrh9O32IWbuJc70Jt6KBbWMZnDIIxncbNawAEk7gAFesemHlfyS5yfJC/oFdIQDIxt9AG5nOJO4AA
  fmpdst0Tvc4S4hKXC9xE0kE/fcDp3Dz4KyKHAoI5OtZE1jrWAuTl7RckA9ydl5/N6z2twoSS+f/DpR+Rl2X2LpKWWSSBrmh2W7C4uaCLkEZrke9
  uvZSzqxyTOKzq5NdxaD4gm/pZFZtRTxj3i53BrQS4nkANSt3p/bbjxnLltcsosb2IcfdlcW9gPgf8Agqt8ZqdSpPX1FS9z6iaIxRvAbGHWD9Nbl
  vwi3PVQHF59SsqzEVeQ+1cGpTZ/goj2OTL0XsDTmPDaNhFiKeK/eWAn5rzRiDTI4Rt3vIYO95yj1IXrGkiDGNYNzWho7mgALfxI6gZt72zshCE
  0UghCEACEIQAIQhAAsFZQgCtRR/RqmaK1mukdKz7spznu9tzx4J7p5UbdUdgyob8JyO+64+z5H+ZNuH1WYLxfV6HG5v5NjHkp1JD0JFtIxkjS1
  4DgRYgi4KTNcsGSyxEmnteSXXsrXanBJ8KLqmiGalcQ+WG5IjcPjb9UW0PhfhaXOnqnwNligdK1zA9jo3Rua64uLZnA+YCkYe2Rpa4Ag6EHUEH
  n2KNYa2XCXPDQ6TD3EvsLufSuOri1o1dEd5aN28DUr1fS+pq1Kq5/UvD+RG2txfArwfaU5bvimaNRrFJYEGxGYCx1B3Fccb2ta0xODJSM2UkQy
  kAOFhchuntZAptg1YySJj43BzS0Frmm7SCN4ISmsfZt+1v8wW2lHyUuT3oice0wy6skB5dVLfyyqM7SbUyxSU8raeoLBJkcRDINJGloAuBc3Itb
  lzVsApLiBAaDyew/xhTqK5I72RuHGZrWNNUX/wAJ3zTVimI14cx8VDO6z23uYmaE5To59+PLvsrDaFyqn2CntguQ72yNCoxB2n0XL2ulj/ykqMb
  U7KYnPBKc1Mz2XWaHSPJFtRcsaAfNWiSkNfLplbvPp3qu62umPdJgnKT0RqDZN3VMM1dM+zW3LGxxh2g+yXeq7YVs3TwPMsbCZCLZ3vdI+3GxcS
  G30uGgDROdNGWMYwuLsjQ0E8gLeaTVtcGjevJdR6rLIfp1cR/7GK6mKZZwFzExTXBUZjdLrrGcNDfppG0wBcwnUXynuP8AqAnympY2e4xre4AHz
  4qMVk1mk8rHwBF/zSaeetn/AEdM5sYI1kcbho4kN3kr2fQbN4/a/ZiGRDUhF0j4+zMylju+Qm+VupA4k8gqoxSbUq99n9kYKRr3AGWZ4PWTSe1I
  /Tdya37IVIbeYW+mmIc0hr7uaeG/UfLzWhk1bkpBTZpNHLo7w/6TitMwi7WP693dD7bf4wzzXpkBU1/Z/wAGuaiucOIp49OVnykdlzGP3SrmTdce
  2Oimb2wQhC7OQQhCABCEIAEIQgAQhCAEtfStljdG4ey4EHx5dqrSBroZHRP95hynt5HuIsfFWpZQ/bnCiR9JjHtMFpAOLBud3t18D2LL6ni+rXte
  UM41vZLT9xLTVF10l1CYqSq03pygqLrx063Fmrs0jrCx2qeaesBHYUy1UAdcJrFW+B1n6s58u9T6XfzHyVyS9yT4fhAp5TLSvLGPN5Id8LnHe5rf
  2bzxLdDxB3p5qq67D7JBtu37tdLKP0GIhwuCnWKqTEOp5VPEnv8AcXlQvKHWnrW21IHekWMV1mHLqbXFtdRqPktRMOxbZ29iYXX7NcxKvR0xdHX
  Ntv8Amk1dOXtLWaXG8jd224riZwuT6tVWdbyJLUVoFj8+Ba6Zx3m3d/VJ5JwEgmreZUbx/aZkTT7Qukv8xlS1JtlypUeWPWLY22MG51UbgrXzv0
  3egUSo6uWulOW+QHU8O4c1YeDYe2Ju7+qasojjR0/zFtf1ePA5UUAaF2mlXB01khqKtIKLk9lvbzti1pLyGAXLtLf17E7YXs22JthLITzFhbkBo
  mXZicOqBfg0kd+5TYFev6JQoVOXyZ2ZPctGIY8osXF3ad/omba/ZmKup3Qyjfqx496N3BzfzHEaJ8uuU9Q1gu5wA7Vt8CY0bG4K2io4aVpBMY9p
  1rZnklz3W7ST4WT4CoviO1EAJAcDZY2Q2nbVPmhvd0WVwPNj7gX7QWnzCEySVIQhSQCEIQAIQhAAhCEACEIQALR7bi29boUAVhtRghpH52D9A86
  W/ZuPwn7J4Hw5XR09SrUqqdr2uY9oc1wIcCLgg8CFV20mAyUbs7AXU5Ojt5jJ+F/Zyd5678DqHT/M4D1GR+mQqbUXW73hwsbFMcNUlDahYjq0xvZ
  mSiLDmgdbm03y+B4LaDaBzNJWub27x+IaLH0hcny3VmlJamtkePA9RbQRH4glLcYYfiHmoLX4XHJqQ5p5tc5p9ND4pnk2cd8NVMO/K78grI4FE1v
  u0cOya9iy5seiG9480zYltlBGCS8KuKrZSoJ0qie8OHyJSik6P2nWad57AAPUkpmPTsSHMplbtsfhHbGOkRzyWwgu7tAuGGbNVla8PnvHH26G3Y3
  n36d6lGCYBTUxzMZmdwc+ziO7SwPba6fvpZXc8quldtEf+WSq3LmbFeGUMUDAyMBrRy+ZPEpY6pTP9I7Vykq1kyg5y2+RlS0uBznq02VNUkc9Z2p
  prK/tV9WOcymPuFzSOnaIjZ2+51AHG44/8KSzx4qBm6tj7cGv1Pg4BRbosq2vrXA2NmXH4tf8quay9Pg1dlZm3y3Ip3EdssRiuDRyab9WaeAddQr
  GttqycENp5hY2d7LtCdw0XpCoo45PfaD8/NI//L1NqepYSd+mpT2inZ5emqJ7XkEjLi+rXA+oVof2dqVzm1lU4k5nshBP2AXu/wDsapdths3SCB+
  r4jbTLI8gf9t5LP4Um6FMPbDQyhrszXVMjwdAT7ETdw3atKCCwUIQpAEIQgAQhCABCEIAEIQgAQhCAMLSaEOBa4AgixBFwQd4I4hdEKNAVhtNsTJ
  FeWjBeze6He9v+Hf3h9nfyvuUSgxEHj2do7CFfZCje0mxdNV3e5vVy8JY/Zd+8Nz/ABHcQs7I6fGfMeGMV5Djwysm1V1nrl0xnYmvpruY0VMY+K
  L3wO2I6n93Moy3FLEtddrhva4EOHeDqFl2YU4+w1G1MkJehrUzx4iOa6jEQqXVJHXch4YANyyZEz/+IDmtTiA5rn0ZMnuQ89ctXVKY5MSHNJZcUH
  Ndxx2yO9EgfWJHPX9qjdTjI5poqsdvoE1XhSfsVyuSJNV4pbio7iWNcLpzwDYbE683ZCYoj+0mvG3wBGZ2/wCEFW3sb0Q0lIRLUf8AVTCxBeLRNP
  NsWtz2uv3BadOFGPLFp3N+CBdFezWIOkbiDBkj9poa8EGVp35eQvax7FbFbtG+MfpGPae4keY0Unon3YD/AL3rMlM1xuQLpvt+CnZCaTbhhdlz+f
  8AqnGXa5obfM1OmJbOU8w9tg77D81SHSvso6ktIx78h4Ne4NI4jLf2XWU6ASdIu3T55HRROJucvs679LC3HsVz9F+CPo8OhhluJSDJIDva6Rxdl7
  wCB3gqleh3ZmOqxJsrbuhpmtmdmtfrD+qabbyHAu/cXpRoUogyhCFIAhCEACEIQAIQhAAhCEACEIQAIQhAAhCEAYsm7FsDp6kWngjkH2mgkdzt48
  CnJYUa2BXlf0RUT/1L54D9l/WN8pQ428VHqzoeqhfqayJw4CSNzD4uaXfJXJdZXDqg/KOlNooGfovxYH2RTv7RKR6OYEil6OMZvb6Ow9omit6uuv
  RSLKPQr+CfUked29FmMO3shb3zA/ygpdS9Cde/9dVQR/cD5D6hoV9rFl0q4rwiHJlT4Z0GUjbGoqJ5jxAyxsPkC71U4wHYmgo7fR6WNrh8ZBfJ/w
  DI+7vVSFC7OTFlhw0WyEAMGJUVQxxfTkOBuXRuNjfjkdu15G3fyZ2bW9Q7JUtdCeUgsPB/uu7wSpsQtXxNIsQCORFx5KNE7InNtnGW3Y5pVRdJ20
  5qB1QOYk2AGpJOgsBrxV2YrsZQ1As+nYD9aO8L/wAcRaT4pLgfR7h9LIJo4LyjVr5Hvlc37uckNPaBdGiBD0RbLOoKBjZG5ZpXddKOLSQA1h+60D
  TmSpwsALKkAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABalCEAYKDuWEIAbcVlcLWJHcSE0R1cl/ff+IoQgCQ0TiWC5ulTFhCAN0IQgAWEIQBlCEI
  AEIQgAQhCABCEIAEIQgD//2Q==" alt="Maquinola" />
  </div>
  -->
  <div>
    <p>Foto de Licencia</p>
    <img
      *ngIf="showingWhich == 1 && !isLoading"
      src="data:image/jpeg;base64, {{ driverData.drivingRecordImage }}"
    />
  </div>
  <div>
    <p>Foto del Seguro</p>
    <img
      *ngIf="showingWhich == 2 && !isLoading"
      src="data:image/jpeg;base64, {{ driverData.policyImage }}"
    />
  </div>
  <div>
    <p>Foto del Vehículo</p>
    <img
      *ngIf="showingWhich == 3 && !isLoading"
      src="data:image/jpeg;base64, {{ driverData.transportImage }}"
    />
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onShowPicClick(1)">
      Licencia
    </button>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onShowPicClick(2)">
      Seguro
    </button>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onShowPicClick(3)">
      Vehículo
    </button>
  </div>
</div>

