<h1 mat-dialog-title> Fotos del chofer de id {{ driverId }}</h1>
<div mat-dialog-content>
  <!--
  <div>
  <p>Fotito Trucha de Licencia</p>
  <img
    *ngIf="showingWhich == 1"
    src="{{htmlForImage(driverData.policyImage)}}" alt="Maquinola" />
  </div>
  -->
  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onShowPicClick(1)">
      Licencia
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onShowPicClick(2)">
      Seguro
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onShowPicClick(3)">
      Vehículo
    </button>
  </div>
  <div *ngIf="showingWhich == 1 && !isLoading">
    <p>Foto de Licencia</p>
    <div [sanitizeHtml]="htmlForImage(driverData.drivingRecordImage)"></div>
  </div>
  <div *ngIf="showingWhich == 2 && !isLoading">
    <p>Foto del Seguro</p>
    <div [sanitizeHtml]="htmlForImage(driverData.policyImage)"></div>
  </div>
  <div *ngIf="showingWhich == 3 && !isLoading">
    <p>Foto del Vehículo</p>
    <div [sanitizeHtml]="htmlForImage(driverData.transportImage)"></div>
  </div>
</div>

