<div class="stretch">
  <mat-toolbar color="primary">
    <span>Pet Transport Admin</span>
  </mat-toolbar>
  <div class="container-fluid content stretch">
    <mat-sidenav-container class="stretch">
      <mat-sidenav class="sidenav p-0 mt-4 mat-elevation-z2" mode="side" opened>
        <mat-list class="p-0">
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/trips" routerLinkActive="active-route"> 
            Viajes 
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/trip-costs-history" routerLinkActive="active-route"> 
            Historial de Precios
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/trip-costs" routerLinkActive="active-route"> 
            Precios
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="m-3">
          <router-outlet></router-outlet>  
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
