@import '../main-theme';
@import '~@angular/material/theming';

.sidenav {
    width: 200px;
    height: 296px;

  .mat-list-item {
    cursor: pointer;
  }
}

.active-route {
    background-color: mat-color($app-primary);
    color: white;
    @include mat-elevation(4);
}
