@import '../main-theme';
@import '~@angular/material/theming';

.sidenav {
    background-color: mat-color($app-primary, lighter);
    width: 200px;
    height: 100px;
}

.active-route {
    background-color: mat-color($app-primary);
    @include mat-elevation(4);
}