<h2> Constantes </h2>
<div *ngIf="tripCosts">
  <form [formGroup]="costsForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>k1</mat-label>
      <input matInput formControlName="k1" placeholder="k1" type="number" step="1" min="0" required>
      <mat-error *ngIf="costsForm.get('k1').invalid">{{getErrorMsg(costsForm.get('k1'))}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>k2</mat-label>
      <input matInput formControlName="k2" placeholder="k2" type="number" step="1" min="0" required>
      <mat-error *ngIf="costsForm.get('k2').invalid">{{getErrorMsg(costsForm.get('k2'))}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>k3</mat-label>
      <input matInput formControlName="k3" placeholder="k3" type="number" step="1" min="0" required>
      <mat-error *ngIf="costsForm.get('k3').invalid">{{getErrorMsg(costsForm.get('k3'))}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>k4</mat-label>
      <input matInput formControlName="k4" placeholder="k4" type="number" step="1" min="0" required>
      <mat-error *ngIf="costsForm.get('k4').invalid">{{getErrorMsg(costsForm.get('k4'))}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>k5</mat-label>
      <input matInput formControlName="k5" placeholder="k5" type="number" step="1" min="0" required>
      <mat-error *ngIf="costsForm.get('k5').invalid">{{getErrorMsg(costsForm.get('k5'))}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>k6</mat-label>
      <input matInput formControlName="k6" placeholder="k6" type="number" step="1" min="0" required>
      <mat-error *ngIf="costsForm.get('k6').invalid">{{getErrorMsg(costsForm.get('k6'))}}
      </mat-error>
    </mat-form-field>
    <br>
    <button type="submit" [disabled]="!costsForm.valid">Submit</button>
  </form>
</div>
