<div class="container content">
  <h2 class="row ml-2"> Ajustes precio de viaje </h2>
  <mat-divider></mat-divider>
  <br>
  <div class="row" *ngIf="tripCosts">
    <div class="col-md-4">
      <form class="container content ml-1" [formGroup]="costsForm" (ngSubmit)="onSubmit()">
        <div class="row" *ngFor="let key of objectKeys(costsFormData)">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{key}}</mat-label>
            <input matInput 
              [formControlName]="key" 
              [placeholder]="key"
              type="number" 
              step="1" 
              min="0" 
              required
            >
            <mat-error *ngIf="costsFormData[key].invalid">{{getErrorMsg(costsFormData[key])}}
            </mat-error>
          </mat-form-field>
          <br>
        </div>
        <div class="row justify-content-end">
          <button 
            type="submit" 
            [disabled]="!costsForm.valid" 
            mat-raised-button color="primary"
          >
          Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
